.root{
   -fx-background-color: white;
}

.fingerprint-icon {
    -fx-border-color: red;
    -fx-border-width: 40px;
    -fx-background-color: gray;
    -fx-padding: 20;
}

.title-Text {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.subtitle-text {
    -fx-text-fill: gray;
    -fx-font-size: 14;
}

.button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #61e46f;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-translate-x: -4px;
    -fx-translate-y: -4px;
    -fx-effect: dropshadow(gaussian, black, 0, 0.3, 5, 5);
}

.input-text{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: black;
}

.input-field{
    -fx-background-color: transparent;
    -fx-border-color: #bbbbbb;
    -fx-font-size: 14;
}

.input-field:focused {
    -fx-border-color: black;
}

.error {
    -fx-border-color: red;
}