.title-text{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.input-text{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: black;
}

.input-field{
    -fx-background-color: transparent;
    -fx-border-color: #bbbbbb;
    -fx-font-size: 14;
}

.error {
    -fx-border-color: red;
}

.reset-button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.reset-button:hover{
    -fx-background-color: #61e46f;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-translate-x: -4px;
    -fx-translate-y: -4px;
    -fx-effect: dropshadow(gaussian, black, 0, 0.3, 5, 5);
}