.root{
    -fx-background-color: #f8f8f8;
    -fx-font-family: "Open Sans" ,Helvetica, Arial, sans-serif;
}

.recipe-time {
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-pref-width: 10;
}


.title-Text{
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.preparation-title{
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.instruction-text {
    -fx-font-size: 15;
}



.instruction-section {
    -fx-background-color: white;
    -fx-border-color: #e2e4e5;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.close-button {
    -fx-background-color: transparent;
    -fx-font-family: "Arial Black";
    -fx-background-radius: 10;
    -fx-text-fill: #b4b4b4;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.close-button:hover{
    -fx-background-color: gray;
    -fx-cursor: pointer;
}

.recipe-title{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.calorie-text{
    -fx-font-family: "Arial Black";
    -fx-font-size: 20;
}

.protein-text{
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #91af7d;
}
.carbs-text{
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #fc9c63;
}

.fat-text{
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #e96a8c;
}

.nutrition-container *{
    -fx-text-fill: #b4b4b4;
    -fx-font-family: Arial;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}